.body {
	margin: 0;
	display: flex;
}

.header {
	display: flex;
}

.title {
	color: green;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 40px;

	margin: 0;
}

#gameContainer {
	display: flex;
	justify-content: center;

	gap: 50px;
	margin-top: 100px;
}
#board1,
#board2 {
	display: none;
}

.board {
	display: flex;
	flex-flow: row wrap;

	border-style: solid;
	border-color: black;
	border-width: 1px;
	width: 450px;
	height: 450px;
}

#directionBtn {
	border-style: none;
	color: gray;
}

.cell {
	flex: 1 0 9%;
	display: flex;
	justify-content: center;
	align-items: center;

	border-color: rgb(78, 78, 78);
	border-width: 1px;
	border-style: solid;
}

.cell:hover {
	cursor: pointer;
}

.shipCell {
	background-color: rgb(59, 134, 59);
}

.hitShipCell {
	background-color: rgb(173, 45, 45);
}

.cpuCell:hover {
	cursor: pointer;
}

.addShipHover {
	background-color: blanchedalmond;
}
